 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    padding: 25px 50px;
    background: white;
    position: fixed;
    width: 100%;
}
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    display: flex;
    align-items: center;
}
.header-main a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: 400;
    padding: 5px 10px;
    transition: all 1s;
}
.header-main a:hover{
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 72, 0);
}



main{
    background: #f7f5f5;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.section{
    width: 75vw;
    padding: 50px 25px;
    margin: 0 auto;
    box-shadow: 10px 0px 5px rgba(202, 196, 196, 0.5),
                -10px 0px 5px rgba(202, 196, 196, 0.5);
}
.red{
    color: rgba(255, 0, 0, 0.5);
    margin-bottom: 30px;
    font-size: 20px;
}
.one{
    display: flex;
    flex-direction: column;
    padding: 150px 25px 25px;
}
.one h1, .two h1, .three h1{
    color: rgba(15, 15, 94, 0.7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 44px;
}
.uniq{
    font-size: 48px;
    color: rgb(53, 53, 47);
    padding: 10px;
}
.grey{
    color: rgba(10, 10, 41, 0.7);
    font-size: 21px;
    margin-bottom: 20px;
}


.two{
    padding: 25px 25px;
}
.two .l-r-box{
    display: flex;
    align-items: center;
}
.two .l-r-box p{
    font-size: 19px;
    margin-bottom: 20px;
}
.section-two-left{
    order: 2;
}
.section-two-right {
    order: 1;
}
.section-two-right img{
    width: 450px;
    height: 300px;
    box-shadow: -4px 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    margin-right: 40px;
}
ul{
    margin-left: 50px;
    margin-top: 20px;
}


.images{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 35px 0px;
}
.three h2{
    color: rgba(48, 48, 68, 0.7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-top: 20px;
}
.images1{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 35px 0px;
}
.images1 img{
    width: 450px;
    box-shadow: -4px 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.images img {
    width: 500px;
    height: 300px;
    box-shadow: -4px 5px 3px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

footer{
    background: black;
    padding: 60px 120px;
    color: white;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
footer ol{
    list-style: none;
    padding: 0;
}
footer li{
    margin-bottom: 10px;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.logos{
    display: flex;
    gap: 15px;
}
.logos img{
    width: 50px;
    height: 50px;
}
.text1 {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}
.logo1:hover, .logo2:hover, .logo3:hover{
    cursor: pointer;
}

@media (max-width: 1300px){
    .two .l-r-box{
        flex-direction: column;
    }
    .two .l-r-box img{
        margin: 0px 0px 50px 0px;
        width: 450px;
        height: 250px;
        
    }
    .images{
        display: flex;
        flex-direction: column;
    }
    .images img {
        width: 20vw;
        height: 300px;
    }
    .images1{
        flex-direction: column;
        align-items: center;
    }



    .uniq{
        font-size: 44px;
    }
    .grey{
        font-size: 19px;
    }
    .red{
        font-size: 18px;
    }
    .one h1, .two h1, .three h1{
        font-size: 40px;
    }

}
@media (max-width: 750px){
    .images img{
        width: 60vw;
    }

    .uniq{
        font-size: 40px;
    }
    .grey{
        font-size: 17px;
    }
    .red{
        font-size: 15px;
    }
    .one h1, .two h1, .three h1{
        font-size: 36px;
    }
}
@media (max-width: 900px) {
    .header-main{
        flex-direction: column;
    }
    #inv{
        display: none;
    }
    .one{
        padding: 175px 25px 0px;
    }
    .section{
        width: 100%;
        box-shadow: none;
    }
    .images img{
        width: 20vw;
    }
    .images1 img{
        width: 70vw;
    }
    .text1{
        font-size: 18px;
    }
    footer a{
        font-size: 18px;
    }
}
@media (max-width: 585px) {
    .buttons{
        display: flex;
        flex-direction: column;
    }
    .buttons a{
        font-size: 25px;
    }
    .one{
        padding: 300px 25px 0px;
    }
    .two .l-r-box img{
        margin: 0px 0px 50px 0px;
        width: 85vw;
        height: 250px;
    }
}
@media (min-width: 1600px){
    .uniq{
        font-size: 2.5vw;
    }
    .grey{
        font-size: 1vw;
    }
    .red{
        font-size: 1vw;
    }
    .one h1, .two h1, .three h1{
        font-size: 2.5vw;
    }
    .buttons a, .text h1{
        font-size: 1.2vw;
    }
    .text img{
        width: 1.5vw;
    }
    .header-main h1{
        font-size: 1.5vw;
    }
    .section-two-left p, .section-two-left b{
        font-size: 1vw;
    }
    .text1{
        font-size: 1vw;
    }
    footer a{
        font-size: 1vw;
    }
}

@media (max-width:2900px){
    .images{
        flex-direction: column;
        align-items: center;
    }
    .images img{
        width: 20vw;
    }
}
@media (max-width:2000px) {
    .images img {
        width: 50vw;
    }
}